
img { 
    width: 185px; height: 277px; 
    border-radius: 9px 9px 0 0;
}

.star-rating{
    position: absolute;
    top: 252px;
    width: 42px;
    height: 17px;
    padding: 4px;
    background: rgba(228, 228, 228, 0.8);
    border-radius: 0 5px 0 0;

    .star {
        position: absolute;
        width: 17px;
        height: 17px;
        filter: invert(6%) sepia(55%) saturate(6098%) hue-rotate(199deg) brightness(107%) contrast(89%);
    }
    
    span {
        position: absolute;
        top: 2px;
        left: 24px;
        color: #2d5d8a;
        font-weight: 600;
    }   
}
