<div class="jw-modal">
    <div #modalBody class="jw-modal-body">
        <div class="img-div">
            <img src={{imgSrc}} alt={{title}} (load)="isImageLoaded()">
        </div>
        <div class="desc-wrapper">
            <div class="close-button">
                <ng-content></ng-content>
            </div>
            <div class="description">
                <div class="title-wrapper">
                    <h2>{{title}} ({{year}})</h2>
                    <span #saveButton class="save-button" (click)="addToWatchList()">Save</span>
                </div>
                <span class="description-item" id="user-popularity">
                    <circle-progress
                        [percent]="popularity"
                        [outerStrokeColor]="'#c93b3b'"
                        [innerStrokeColor]="'#d9bfbf'"
                        [subtitle]="'Popularity'"
                    ></circle-progress>&nbsp;
                    <circle-progress
                        [percent]="userRating"
                        [outerStrokeColor]="'#388697'"
                        [innerStrokeColor]="'#accbd2'"
                        [subtitle]="'Rating'"
                    ></circle-progress>
                </span>
                <span class="description-item"><b>Genre:</b> {{genres}}</span>
                <span class="description-item"><b>Overview:</b> {{overview}}</span>
            </div>
        </div>
    </div>
</div>
<ngx-spinner
    size="medium"
    bdColor="rgba(0, 0, 0, 0)"
    color="#1a8cba"
    type="ball-clip-rotate-pulse"
    (click)="cancelModal()"
></ngx-spinner>
<div #modalBackground class="jw-modal-background"></div>