<div class="jw-modal">
    <div class="jw-modal-body">
        <div class="img-div">
            <img src={{imgSrc}} alt="">
        </div>
        <div class="desc-wrapper">
            <div class="close-button">
                <ng-content></ng-content>
            </div>
            <div class="description">
                <div class="title-wrapper">
                    <h2>{{title}} ({{year}})</h2>
                    <span class="save-button">SAVE</span>
                </div>
                <p><b>Popularity:</b> {{popularity}}%</p>
                <p><b>User Rating:</b> {{userRating === 0 ? "Unrated" : userRating + "%"}}</p>
                <p><b>Genre:</b> {{genres}}</p>
                <p><b>Overview:</b> {{overview}}</p>
            </div>
        </div>
    </div>
</div>
<div class="jw-modal-background"></div>