/* MODAL STYLES
-------------------------------*/
@xxxlarge:    ~"only screen and (min-width: 1135px)";
@xxlarge:     ~"only screen and (min-width: 1029px) and (max-width: 1134px)";
@xlarge:      ~"only screen and (min-width: 929px) and (max-width: 1028px)";
@large:       ~"only screen and (min-width: 811px) and (max-width: 928px)";
@full:        ~"only screen and (min-width: 723px) and (max-width: 810px)";
@medium:      ~"only screen and (min-width: 676px) and (max-width: 722px)";
@tablet:      ~"only screen and (min-width: 601px) and (max-width: 675px)";
@small:       ~"only screen and (max-width: 600px)";

#media-query {
    .mixin-one {
        margin: auto;    
        position: fixed;
        top: 50%;
        left: 50%;
    }
}

jw-modal {
    /* modals are hidden by default */
    display: none;

    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .jw-modal-background */
        z-index: 901;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .jw-modal-body {
            display: flex;
            /* margin exposes part of the modal background */
            margin: 160px 200px;    
            // height:auto;
            // max-width: 500px;
            background-color: white;
            background-color: rgb(36, 36, 36);

            @media @xxxlarge {
                #media-query.mixin-one();
                width: 1080px;
                margin-top: -366px;
                margin-left: -540px;  
            }

            @media @xxlarge {
                #media-query.mixin-one();
                width: 910px;
                margin-top: -309px;
                margin-left: -450px;
            }

            @media @xlarge {
                #media-query.mixin-one();
                width: 850px;
                margin-top: -289px;
                margin-left: -425px;  
            }

            @media @large {
                #media-query.mixin-one();
                width: 780px;
                margin-top: -265px;
                margin-left: -390px;  
            }

            @media @full {
                #media-query.mixin-one();
                width: 700px;
                margin-top: -235px;
                margin-left: -350px;  
            }

            @media @medium {
                #media-query.mixin-one();
                width: 660px;
                margin-top: -225px;
                margin-left: -330px;  
            }

            @media @tablet {
                #media-query.mixin-one();
                width: 580px;
                margin-top: -198px;
                margin-left: -290px;
            }

            @media @small {
                #media-query.mixin-one();
                width: 500px;
                margin-top: -171px;
                margin-left: -250px;                
            }

            .img-div {
                width: 45%;
                background-color: rgb(36, 36, 36);

                img{
                    width:100%;
                }
            }

            .desc-wrapper {
                width: 55%;
                border-bottom: 4px solid rgb(36, 36, 36);
                background-color: #cacaca;
                position: relative;

                .description {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 10px;
                    color: rgb(58, 58, 58);
                    font-size: 16px;

                    h2 {
                        font-size: 30px;
                        color: #498bc5;
                    }

                    @media @xxxlarge {
                        h2 {
                            font-size: 30px;
                        }
                    }

                    @media @xxlarge {
                        h2 {
                            font-size: 28px;
                        }
                    }

                    @media @xlarge {
                        font-size: 16px;

                        h2 {
                            font-size: 26px;
                        }
                    }

                    @media @large {
                        font-size: 15px;

                        h2 {
                            font-size: 24px;
                        }
                    }

                    @media @full {
                        font-size: 14px;

                        h2 {
                            font-size: 22px;
                        }
                    }

                    @media @medium {
                        font-size: 13px;

                        h2 {
                            font-size: 20px;
                        }
                    }

                    @media @tablet {
                        font-size: 12px;

                        h2 {
                            font-size: 18px;
                        }
                    }

                    @media @small {
                        font-size: 11px;

                        h2 {
                            font-size: 16px;
                        }
                        
                    }                    
                }    
            }
        }
    }

    .jw-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

