<div class="jw-modal">
    <div class="jw-modal-body">
        <div class="img-div">
            <img src={{imgSrc}} alt="">
        </div>
        <div class="desc-wrapper">
            <div class="close-button">
                <ng-content></ng-content>
            </div>
            <div class="description">
                <h2>{{title}} ({{year}})</h2>
                <span>User Rating: {{userScore === 0 ? "Unrated" : userScore + "/10"}}</span><br><br>
                <span>Popularity: {{popularity}}%</span><br><br>
                <span>Genre: {{genres}}</span><br><br>
                <h3>Overview</h3>
                <p>{{overview}}</p>
            </div>
        </div>
    </div>
</div>
<div class="jw-modal-background"></div>