$screen-sm-min: 576px;
$screen-lg-min: 992px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

#watchlist-content {
    min-height: 100vh;

    #header-block {
        height: 75px;
    }

    h2 {
        text-align: center;
        margin: 15px 0;        
        font-size: 24px;
        font-weight: 600;
        height: auto;
        color: #313131;

        @include rwd(829) {
            font-size: 32px;
        }
    }

    #login-wrapper {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        #login-message {
            padding: 10px 15px;
            border-radius: 5px;
            color: #313131;
            border: solid 1px #8e8e8e;

            a {
                text-decoration: none;
                color: rgba(228, 121, 15);
                font-weight: 600;
            }
        }
    }

    #empty-wrapper {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        #empty-list {
            padding: 10px 15px;
            border-radius: 5px;
            color: #313131;
            border: solid 1px #8e8e8e;
        }
    }

    #watchlist-container {
        margin-bottom: 30px;
    }

    .movie-div {
        padding: 10px;
        margin: 7px 3px;
        border: solid 1px #d0d0d0;
        border-radius: 5px;
        background-color: #f3f3f3;
        max-width: 992px;
        
        @include sm {
            display: flex;
        }

        @include lg {
            margin-left: auto;
            margin-right: auto;
        }

        .img-div {
            text-align: center;
        }
    
        .description-div {
            padding: 0 10px;

            @include sm {
                padding: 5px 10px 0 20px;                
            }

            h3 {
                color: #427fb5;
                margin: 4px 12px 4px 0;    
                display: inline-block; 
                vertical-align: middle;
            }
        
            p {
                display: table;
                margin: 5px 0;
                font-weight: 350;
                color: black;

                span {
                    color: #464646;
                    font-weight: 600;
                }
            }

            #deleteBtn {
                font-size: 14px;
                padding: 3px 6px;
                border: 1px solid rgba(204,127,46,.93);
                background-color: rgba(204,127,46,.93);
                color: #fbfbfb;
                border-radius: 5px;
                font-weight: 600;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
            }
        }
    }  
}
