<div id="watchlist-content">
    <div id="header-block"></div>
    <h2>My Watch List</h2>
    <div *ngIf="!userAuthenticated" id="login-wrapper">
        <div id="login-message">Please <a routerLink="/account" routerLinkActive="active">sign in</a> to use this feature.</div>
    </div>
    <div id="watchlist-container">
        <div class="movie-div" *ngFor="let movie of allMovies">
            <div class="img-div">
                <img src={{movie.poster}} alt={{movie.title}}>
            </div>
            <div class="description-div">
                <div class="watch-list-movie-title"><h3>{{movie.title}}</h3><span id="deleteBtn" (click)="removeFromWatchList(movie)">Delete</span></div>
                <p><span>Year Released:</span> {{movie.year}}</p>
                <p class="popularity-p">
                    <span>Popularity:&nbsp;</span>
                    <circle-progress
                        [percent]="movie.popularity"
                        [outerStrokeColor]="'#c93b3b'"
                        [innerStrokeColor]="'#d4b0b0'"
                    ></circle-progress>
                </p>
                <div class="break"></div>
                <p class="user-rating-p">
                    <span>User Rating:&nbsp;</span>
                    <circle-progress
                        [percent]="movie.rating"
                        [outerStrokeColor]="'#1f8dbd'"
                        [innerStrokeColor]="'#95c6db'"
                    ></circle-progress>
                </p>
                <p><span>Genre:</span> {{movie.genres.length > 0 ? movie.genres : "Unclassified"}}</p>
                <p><span>Overview:</span> {{movie.overview}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="isDbTableEmpty" id="empty-wrapper">
        <div id="empty-list">Your watch list is currently empty.</div>
    </div>
    <ngx-spinner
        size="medium"
        color="#1a8cba"
        type="ball-clip-rotate-pulse"
    ></ngx-spinner>
</div>