$font-stack: 'Source Sans Pro', arial, sans-serif;
$nav-bg: #032541f2;
$nav-color: #f1f1f1;
$nav-color-hover: #909090;

#header {
    display: flex;
    justify-content: center;
    height: 75px;
    background-color: $nav-bg;
    color: white;
    
    #nav-bar{
        display: flex;
        justify-content: space-between;
        width: 1200px; 
        
        #logo-wrapper {
            display: flex;
            padding: 11px 22px;

            img {
                width: 53px;
                height: 53px;
                filter: brightness(80%);
            }

            h1 {
                margin: 0;
                height: 53px;
                line-height: 54px;
                font-size: 30px;
                font-weight: bold;
                background: -webkit-linear-gradient(#0cb6e8, #18d66c);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        nav {
            height: 75px;
            line-height: 80px;
            padding-right: 20px;

            a {
                font-size: 19px;
                font-weight: 700;
                text-decoration: none;
                color: $nav-color;
                margin: 13px;
            }
        
            a:hover{
                color: $nav-color-hover;
            }
        }
    }
}

#content {
    font-family: $font-stack;
    background-color: #eae8e8;
    padding: 5px;  
    width: 414px;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    #logo-wrapper h1 {
        display: none;
    }
}

@media only screen and (min-width: 660px) {
    #content {
        width: 621px;
    }
}

@media only screen and (min-width: 865px) {
    #content {
        width: 828px;
    }
}

@media only screen and (min-width: 1075px) {
    #content {
        width: 1035px;
    }
}

@media only screen and (min-width: 1285px) {
    #content {
        width: 1242px;
    }
}

