<app-sticky-header>
    <div id="header">
        <div id="nav-bar">
            <div id="logo-wrapper">
                <a routerLink="/" routerLinkActive="active">
                    <img src="../assets/images/oscar.png" alt="Website Icon" />
                    <h1>Movie List</h1>
                </a>
            </div>
            <div id="search-wrapper">
                <div id="search">
                    <input 
                        type="text" 
                        id="search-bar" 
                        placeholder="Search..." 
                        [(ngModel)]="searchKeywords"
                        (keypress)="this.searchOnKeyPress($event)"
                    >
                    <button id="search-btn" (click)="this.searchOnClick()">
                        <img src="../assets/images/search.svg" alt="search icon">
                    </button>
                </div>
            </div>
            <div class="topnav">
                <a href="javascript:void(0);" class="icon" (click)="openNav()">
                    <i class="fa fa-bars fa-2x"></i>
                </a>
                <nav id="hidden-links" (window:resize)="onResize($event)">
                    <a routerLink="/" routerLinkActive="active" (click)="closeNav()">Home</a>
                    <a routerLink="/watchlist" routerLinkActive="active" (click)="closeNav()">Watch List</a>
                    <a routerLink="/account" routerLinkActive="active" (click)="closeNav()">Account</a>
                </nav> 
            </div> 
            <nav id="routes">
                <a routerLink="/" routerLinkActive="active">Home</a>
                <a routerLink="/watchlist" routerLinkActive="active">Watch List</a>
                <a routerLink="/account" routerLinkActive="active">Account</a>
            </nav> 
        </div> 
    </div>
</app-sticky-header>
<div id="content">
    <router-outlet></router-outlet>
</div>
<footer>
    <div id="footer-content">
        <div id="footer-top">
            <div id="footer-nav">
                <h2>MOVIE LIST</h2>
                <div id="footer-links">
                    <a routerLink="/" routerLinkActive="active">Home</a>
                    <a routerLink="/watchlist" routerLinkActive="active">Watch List</a>
                    <a routerLink="/account" routerLinkActive="active">Account</a>
                </div>
            </div>
            <table>
                <tr>
                    <td>Email:</td>
                    <td><a class="contact-links" href="mailto:jwong_li@hotmail.com">jwong_li@hotmail.com</a></td>
                </tr>
                <tr>
                    <td>LinkedIn:</td>
                    <td><a class="contact-links" target="_blank" href="https://www.linkedin.com/in/jamesw12/">linkedin.com/in/jamesw12</a></td>
                </tr>
                <tr>
                    <td>Phone number:</td>
                    <td>604-518-3969</td>
                </tr>
            </table>
            <div id="copyright-wrapper">
                <p id="copyright">Copyright ©2020</p>
                <p id="trademark">Code and design by James Wong</p>
            </div>
        </div>
        <div id="footer-bottom">
            <div id="moviedb-logo">
                <img src="../../assets/images/moviedb.svg" alt="Powered by The Movie DB"> 
            </div>
            <div id="moviedb-social">
                <a href="https://twitter.com/themoviedb" target="_blank"><img src="../../assets/images/twitter.svg" alt="The Movie DB Twitter Page"> </a>
                <a href="https://www.facebook.com/themoviedb" target="_blank"><img src="../../assets/images/facebook.svg" alt="The Movie DB Facebook Page"> </a>
                <a href="https://www.themoviedb.org/documentation/api" target="_blank"><img src="../../assets/images/documentation.svg" alt="The Movie DB Documentation Page"> </a>
            </div>
        </div>
    </div>
</footer>
