$font-stack: 'franklin', Sans-serif;
$nav-color: #ef4444;
$nav-color-hover: #ff9456;

#content {
    font-family: $font-stack;
    background-color: rgb(230, 230, 230);
    padding-top: 15px;    
    padding-left: 20px;    
    width: 836px;
    min-height: 950px;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 10px;

    a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: $nav-color;
        margin-right: 25px;
    }
    a:hover{
        color: $nav-color-hover;
    }
}

@media only screen and (max-width: 1134px) {
    #content {
        width: 850px;
    }
}

@media only screen and (max-width: 928px) {
    #content {
        width: 641px;
    }
}

@media only screen and (max-width: 722px) {
    #content {
        width: 432px;
    }
}

@media only screen and (min-width: 1135px) {
    #content {
        width: 1055px;
    }
}
