$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
 
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
 
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

h2 {
    margin: 0;
    padding: 55px 0 20px;
    color: #6f6f6f;
    font-size:22px;
    font-weight: 600;
    text-align: center;
}

.line {
    width: 90px;
    border: 1px solid #8e8e8e;
    border-radius: 8px;
}

#goto-wrapper {
    position: relative;

    #goto-block {
        position: absolute;
        top: -70px;
        height: 1px;
        width: 1px;
    }
}

#content-wrapper {
    font-family: 'Source Sans Pro', arial, sans-serif;
    background-color: #eae8e8;
    padding: 0;  
    border-radius: 6px;
    margin: auto;
    
    @include rwd(500) {
        padding: 0 10px;  
        width: 414px;
        min-height: 100vh;
    }
}

#movie-content {
    text-align: center;
    padding: 0 0 10px 0;

    @include rwd(500) {
        text-align: unset;
        padding: 0 0 25px 0;
    }

    .pagination {
        display: flex;
        justify-content: space-between;   
        margin-bottom: 10px;
    }

    .pag-bottom {
        justify-content: center;
        margin: 30px 0 30px 10px;
        
        @include rwd(500) {
            margin: 40px 0 20px 10px;
        }
    }

    .paginator {
        display: flex;
        justify-content: flex-end;
        height: 32px;
        border-radius: 15px;
        box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.15);
        
        .modal {
            border-color: #ddd;
            color: rgb(33, 141, 168);
            background: #fff;
            text-decoration: none;
        }

        .prev {
            cursor: pointer;
            font-size: 32px;
            line-height: 25px;
            padding: 1px 15px;
            -moz-border-radius: 15px 0 0 15px;
            -webkit-border-radius: 15px 0 0 15px;
            border-radius: 15px 0 0 15px;
            z-index: 0;
        }
        
        .next {
            cursor: pointer;
            font-size: 32px;
            line-height: 25px;
            padding: 1px 15px;
            -moz-border-radius: 0 15px 15px 0;
            -webkit-border-radius: 0 15px 15px 0;
            border-radius: 0 15px 15px 0;
        }

        .pages {
            width: 66px;
            text-align: center;
            font-size: 16px;
            line-height: 32px;
        }

        a:hover {
            background: rgb(42, 177, 212);
            box-shadow: 0 1px 4px 1px rgb(0, 0, 0, 0.25);
            color: #fff;
        }

        a:active {
            background: rgb(33, 141, 168);
            color: #fff;
        }

        .unselectable {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    .movie-wrapper {
        text-align: left;
        display: inline-block;
        height: 362px;
        margin: 10px 0;
        
        .movie { 
            display: inline-grid;
            width: 185px;
            margin: 6px 10px;
            box-shadow: 0 3px 5px 0 rgb(0, 0, 0, 0.2);
            background-color: white;            
            border-radius: 12px 12px 9px 9px;
            cursor: pointer;

            .movie-img {
                position: relative;
                width: 185px;
                height: 277px;
                filter: brightness(80%);
            }
        
            .movie-description{
                height: 61px;
                margin: 0px;
                padding: 4px 5px 5px 7px;
                z-index: 989;
                
                .movie-header{
                    margin-bottom: 3px;

                    .title-wrapper h3 {
                        display:inline;
                        color: rgba(43, 54, 115, 0.93);
                        font-size: 16px;
                    }
        
                    .release {
                        color: #313131;
                        font-size: 14px;
                        padding-top: 1px;
                    }
                }
            }
        }
    }
}

#selection-container {
    display:flex;
    vertical-align: middle;
    padding-left: 20px;
    z-index: 989;

    #genre-selected {
        font-weight: 600;
        height: 32px;
        line-height: 30px;
        background-color: white;
        color: #218da8;
        padding: 0 20px;
        border-radius: 20px;
        box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.15);
        cursor: pointer;
    }

    #genre-selected:hover {
        background-color: rgb(42, 177, 212);
        box-shadow: 0 1px 3px 1px rgb(0, 0, 0, 0.25);
        color:white;
    }

    #total-results {
        line-height: 30px;
        margin-left: 30px;
        font-size: 16px;
        color: #313131;
    }
}

#genres-wrapper {
    position: relative;
    z-index: 989;

    div {
        position: absolute;
        top: -3px;
        left: 9px;

        ul {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            background-color: white;
            border: 1px solid #e8e8e8;
            border-radius: 8px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);            
            padding: 5px 3px;
            margin: 0;
            max-width: 87%;

            @include rwd(400) {
                max-width: 95%;
            }

            @include rwd(660) {
                max-width: 74%;
            }

            @include rwd(865) {
                max-width: 79%;
            }

            @include rwd(1075) {
                max-width: 63%;
            }

            @include rwd(1285) {
                max-width: 53%;
            }            

            li {
                color: rgb(90, 90, 90);
                height: 28px;
                line-height: 26px;
                background-color: #f8f8f8;
                border: 1px solid #d8d8d8;
                box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.15);
                padding: 0 12px;
                margin: 3px;
                border-radius: 20px;
                cursor: pointer;
            }

            li:hover {
                background-color: rgb(42, 177, 212);
                border: 1px solid rgb(42, 177, 212);
                box-shadow: 0 1px 3px 1px rgb(0, 0, 0, 0.25);
                color: white;
            }
        }
    }
}

#close-icon {
    position: relative;
    z-index: 1001;
    padding: 5px;
    cursor: pointer;

    img {
        position: absolute;
    }
}

@media only screen and (max-width: 659px) {
    .pagination {
        width: 397px;
    }

    #selection-container {
        display: initial;
        
        #total-results {
            margin: 6px 0px;
            padding-left: 4px;
        }
    }

    #close-icon {
        width: 12px;
        height: 12px;
        top: 20px;
        right: 15px;

        @include sm {
            right: 20px;
        }

        img {
            width: 12px;
        }
    }
     

    .pag-top{
        margin-top: 25px;
    }
}

@media only screen and (max-width: 499px) {
    .pagination {
        width: 95%;
    }
}

@include rwd(660) {
    #content-wrapper {
        width: 621px;
    }

    .pagination {
        width: 602px;
    }

    #total-results {
        padding-left: 0;
    }

    #close-icon {
        width: 14px;
        height: 14px;
        top: 25px;
        right: 25px;

        img {
            width: 14px;
        }
    }
}

@include rwd(865) {
    #content-wrapper {
        width: 828px;
    }

    .pagination {
        width: 808px;
    }

    #close-icon {
        top: 30px;
        right: 30px;
    }
}

@include rwd(1075) {
    #content-wrapper {
        width: 1035px;
    }

    .pagination {
        width: 1014px;
    }

    #close-icon {
        width: 16px;
        height: 16px;
        top: 35px;
        right: 35px;

        img {
            width: 16px;
        }
    }
}

@include rwd(1285) {
    #content-wrapper {
        width: 1242px;
    }

    .pagination {
        width: 1222px;
    }
}
