<div id="feature">  
            
</div> 
<div id="content-wrapper">
    <div id="movie-content"><br/>   
        <div class="pagination">
            <div id="selection-container">
                <select name="genreArray" [(ngModel)]='genreSelect' (change)="selectGenre(genreSelect)">
                    <option 
                        *ngFor="let genre of genreArray" 
                        [ngValue]="genre"
                    >{{genre.name}}</option>
                </select>
                <div id="total-results">Latest movies: {{totalMovies}}</div>
            </div>
            <div class="paginator pag-top">
                <a class="modal prev unselectable" (click)=prevPage()>&laquo;</a>
                <div class="modal pages">{{currentPage}} / {{totalPages}}</div>
                <a class="modal next unselectable" (click)=nextPage()>&raquo;</a>
            </div>
        </div>
        <div class="movie-wrapper" *ngFor="let movie of movieArray" >
            <div class="movie" myMovieHighlight (click)="openModal('custom-modal-2', movie)">
                <div class="movie-img">
                    <images-directive class="img-directive" [posterPath]="movie.poster_path ? 'https://image.tmdb.org/t/p/w185' + movie.poster_path : '../assets/images/movie_not_found.jpg'" [altText]="movie.original_title"></images-directive>
                </div>
                <div class="movie-description">
                    <div class="movie-header">
                        <div class="title-wrapper">
                            <h3 class="movie-title">{{this.formatDescription(movie.title)}}</h3>
                        </div>
                        <div class="release">{{this.formatDate(movie.release_date)}}</div>
                        <div class="rating">Rating: <span id="rating">{{movie.vote_average}}</span> Likes: <span id="likes">{{movie.vote_count}}</span></div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="pagination pag-bottom">
            <div class="paginator">
                <a class="modal prev unselectable" (click)=prevPage()>&laquo;</a>
                <div class="modal pages">{{currentPage}} / {{totalPages}}</div>
                <a class="modal next unselectable" (click)=nextPage()>&raquo;</a>
            </div>
        </div>
        
        <jw-modal id="custom-modal-2">
            <span (click)="closeModal('custom-modal-2')" id="close-icon"><img src="../../assets/images/close.png" alt="close button"></span>
        </jw-modal>
    </div>
</div>
