$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
 
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
 
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

#feature {
    #image-description {
        position: absolute;
        top: 75vh;
        left: 5vw;
        max-width: 345px;
        color: rgba(255, 255, 255, 0.95);
        // background-color: #1784a5;
        padding: 10px;

        @include sm {
            max-width: 345px;
        }

        h2 {
            margin: 0;
        }

        .description {
            font-weight:500;
            font-size:16px;

            @include lg {
                font-size:22px;
            }
        }

        #image-title {
            font-weight: bold;
            font-size:20px;

            @include lg {
                font-size:26px;
            }
        }
    }

    .left-arrow {
        // background-color: aquamarine;
        position: absolute;
        top: 0vh;
        left: 0vw;
        width: 35px;
        height: 100%;
        cursor: pointer;

        img{
            position: absolute;
            top: 50%;
            filter: invert(100%) sepia(2%) saturate(119%) hue-rotate(282deg) brightness(113%) contrast(82%);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        } 

        img::selection {
            background: transparent;
        }
    }

    .right-arrow {
        // background-color: aquamarine;
        position: absolute;
        top: 0vh;
        right: 0vw;
        width: 35px;
        height: 100%;
        cursor: pointer;

        img {
            position: absolute;
            top: 50%;
            filter: invert(100%) sepia(2%) saturate(119%) hue-rotate(282deg) brightness(113%) contrast(82%);   
        }

        img::selection {
            background: transparent;
        }
    } 
    
    .slideshow {
        overflow: hidden; 
        // height: 50vh;
        // width: 20%;

        // .class {
        //     width: 50%; 
        //     float: left;
        // }

        #slider {
            display: flex;
            position: relative;
            width: 500%;
            animation: 20s slidy infinite; 

            .image {
                height: 100vh;
                width: 100%;
                position:relative;
                background-size: cover;
                resize: both;
                background-position: center;
                background-repeat: no-repeat;
                filter: brightness(0.45);
                -webkit-filter:brightness(0.4);  
                opacity: 0.95; 
            }

            // #firstImage {
            // }

            // #secondImage {
            // }
    
            // #thirdImage {
            // }
    
            // #fourthImage {
            // }

            // #fifthImage {
            // }
        }

        @keyframes neutralize {
            0% { left: 0%; }
            100% { left: -100%; }
        }

        @keyframes slideleft {
            0% { left: -100%; }
            40% { left: -100%; }
            60% { left: -200%; }
            100% { left: 0%; }
        }

        @keyframes slideright {
            0% { left: -100%; }
            40% { left: -100%; }
            60% { left: -200%; }
            100% { left: -200%; }
        }

        @keyframes slidy {
            0% { left: 0%; }
            20% { left: 0%; }
            33% { left: -100%; }
            66% { left: -200%; }
            25% { left: -100%; }
            45% { left: -100%; }
            50% { left: -200%; }
            70% { left: -200%; }
            75% { left: -300%; }
            95% { left: -300%; }
            100% { left: -400%; }
        }        
    }

}
