@import '~aws-amplify-angular/theme.css';
/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 5px 0px 5px 0px;
    background-color: #eae8e8;
    scroll-behavior: smooth;
}

html, body { 
    margin: 0; 
    height: 100%; 
    font-family: 'Source Sans Pro', arial, sans-serif;
}
